body{
  
    animation-iteration-count: infinite;
    justify-content: center;
    align-items: center;
    background-image: url(https://m.atcdn.co.uk/retailer/media/%7Bresize%7D/8a42c0a07e9c504a017ed9d5965b0c0f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.kirit{
    color: rgb(37, 12, 51);
}








